*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #333;
}
.container{
    background-color: #ffe0e5;
    height: 70vh;
    align-items: center;
    margin: auto 170px;
    border-radius: 15px;
}
.logo{
    color: white;
    text-align: left;
    margin: 10px;
    width: fit-content;
    text-shadow: 0 0 15px red;
}
.contact{
    float: right;
    margin: -35px 20px auto auto;
}
.contact a{
    color: white;
    text-decoration: none;
}
.topNav{
    display: flex;
    justify-content: center;
}
.topNav a{
    color: blue;
    padding: 10px;
    margin-top: -44px;
    text-decoration: none;
}
.hero{
    color: red;
    text-align: center;
    width: 50%;
    margin: 5px 25%;
    padding: 10px;
    border: 1px dashed; 
    border-color: red green yellow green;
    border-width: 2px 2px 2px;
    text-transform: uppercase;
}
.hero h1{
    font-family: cursive;
}
.img{
    height: 70vh;
}
.menu{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle{
    border-radius: 50%;
    background-color: #fff;
    color: #f53192;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.audio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons div{
    background-color: #fff;
    color: #f53192;
    width: 60px;
    height: 60px;
    margin: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.seeMore{
    text-align: center;
    margin-top: 22px;
}
.seeMore a{
    color: blue;
    font-size: 20px;
}
.logo2{
    color: white;
    align-items: center;
}
.content{
    background-color: rgb(165, 159, 159);
    display: flex;
    flex-direction: column;
    margin: 40px;
    height: 75vh;
    border-radius: 10px;
    position: relative;
}
.input{
    text-align: center;
    width: fit-content;
    margin: auto 50%;
    height: fit-content;
    position: absolute;
    bottom: 0;
    background-color: green;
}
.input label{
    color: #fff;
    background-color: black;
    border: 3px solid rgb(179, 6, 176);
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 0;

}
.input input{
    display: none;
}
.audio2{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* background-color: green; */
    margin: 7px;
    font-size: 3vw;
}
.home{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25px;
}
.home a{
    color: blue;
}