*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(122, 23, 31);
}
.logo{
    color: white;
    text-align: left;
    margin: 10px;
}
.contact{
    text-align: right;
    margin: -40px 10px auto auto;
}
.contact a{
    color: white;
}
.audio{
    text-align: center;
    margin: 20px;
    
}
#previous{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px 60px auto auto;
    font-weight: bold;
    cursor: pointer;
}
#next{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px auto auto 60px;
    font-weight: bold;
    cursor: pointer;
}
.list{
    width: 35px;
    height: auto;
    background-color: white;
    cursor: pointer;

}
a{
    color: blue;
    margin-top: 50%;
    margin-left: 48%;
}
nav ul{
    display: flex;
    list-style: none;
    margin-left: 33%;
}
nav ul li{
    margin-right: 1em;
}
.audio2{
    display: flex;
    justify-content: center;
}