*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(122, 23, 31);
}
h1{
    color: white;
    text-align: center;
    margin: 20px 10px;
}
.images{
    margin: 10px ;
    padding: 0;
    text-align: center;
    border-bottom: 5px solid rgb(22, 1, 1);
}
.images img{
    width: 30px;
    height: auto;
    margin: 20px;
    border-radius: 12px;
}
.audio{
    text-align: center;
    margin: 20px;
    
}
#previous{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px 60px auto auto;
    font-weight: bold;
    cursor: pointer;
}
#next{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px auto auto 60px;
    font-weight: bold;
    cursor: pointer;
}
.list{
    position: absolute;
    right: 2%;
    top: 23%;
    width: 50%;
    width: 40px;
    height: auto;
}