*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(10, 9, 23);
}
h1{
    color: white;
    text-align: center;
    margin: 20px 10px;
}
.images{
    margin: 10px ;
    padding: 0;
    text-align: center;
    border-bottom: 5px solid red;
}
.images img{
    width: 40px;
    height: auto;
    margin: 20px;
    border-radius: 12px;
}
.audio{
    text-align: center;
    margin: 20px;
}
#previous{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
}
#next{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
}