*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
}
.logo{
    color: white;
    text-align: left;
    margin: 10px;
}
.contact{
    float: right;
    margin: -35px 20px auto auto;
}
.contact a{
    color: white;
}
.topNav{
    display: flex;
    justify-content: center;
}
.topNav a{
    color: blue;
    padding: 10px;
}
.audio{
    display: flex;
    justify-content: center;
}
.list{
    float: right;
    width: 35px;
    background-color: white;
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}
#previous{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}
#next{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}
.audio2{
    display: flex;
    justify-content: center;
}
.hero{
    color: red;
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 20px;
    border-bottom: 2px solid red;
}
.hero h1{
    font-family: cursive;
    padding: 20px;
}
.seeMore{
    display: flex;
    justify-content: center;
    margin: 30% auto auto auto;
}
.seeMore a{
    color: blue;
}
.home{
    display: flex;
    justify-content: center;
    margin: 65% auto auto auto;
}