*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #333;
}
main{
    background-color: #ffe0e5;
    height: 60vh;
    text-align: center;
    align-items: center;
    margin: auto 99px;
}
.logo{
    color: white;
    text-align: left;
    margin: 10px;
}
.contact{
    float: right;
    margin: -35px 20px auto auto;
}
.contact a{
    color: white;
}
.topNav{
    display: flex;
    justify-content: center;
}
.topNav a{
    color: blue;
    padding: 10px;
}
.hero{
    color: red;
    text-align: center;
    height: 100px;
    padding: px;
    
}
.hero h1{
    font-family: cursive;
}
.menu{
    text-align: right;
    padding: 10px;
    height: 88px;
}
.audio{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}
#pre{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}
#next{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}
.seeMore{
    text-align: center;
    margin-top: 22px;
}
.seeMore a{
    color: blue;
}
.audio2{
    display: flex;
    justify-content: center;
    position: relative;
    top: 222px;
}
.home{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}
.home a{
    color: blue;
}