*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #333;
}
main{
    background-color: #ffe0e5;
    height: 70vh;
    align-items: center;
    margin: auto 170px;
    border-radius: 10px;
}
main2{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: auto 70px;

}
.logo{
    color: white;
    text-align: left;
    margin: 10px;
}
.logo2{
    color: white;
    text-align: left;
    margin: 10px;
    height: 77px;
}
.contact{
    float: right;
    margin: -35px 20px auto auto;
}
.contact a{
    color: white;
}
.topNav{
    display: flex;
    justify-content: center;
}
.topNav a{
    color: blue;
    padding: 10px;
    margin-top: -44px;
}
.hero{
    color: red;
    text-align: center;
    height: 80px;
    
}
.hero h1{
    font-family: cursive;
}
.menu{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle{
    border-radius: 50%;
    background-color: #fff;
    color: #f53192;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.audio{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons div{
    background-color: #fff;
    color: #f53192;
    width: 60px;
    height: 60px;
    margin: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.seeMore{
    text-align: center;
    margin-top: 22px;
}
.seeMore a{
    color: blue;
    font-size: 20px;
}
.audio2{
    display: flex;
    justify-content: center;
    position: relative;
    top: 222px;
}
.input{
    text-align: right;
    margin: -44px 5px;
    height: 95px;
}
.home{
    display: flex;
}
.home a{
    color: blue;
}